/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #393939;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5rem;
  color: #000;
  padding-top: 90px;
}

h2 {
  font-size: 2.6rem;
  margin-bottom: 60px;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  color: #000;
}

ul {
  list-style: none;
}


/* UTILS */

.debug {
  background-color: chartreuse;
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.space-bet {
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #0B60F6;
  text-decoration: none;
  padding: 8px 15px;
  text-align: center;
}

a.btn {
  color: #fff;
}

.btn.big {
  padding: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.col {
  width: calc(100% / 3);
  padding: 0 25px;
  margin-bottom: 50px;
}


/* HEADER */

header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #EEECEF;
  align-items: center;
}

.menu .logo img {
  vertical-align: middle;
  cursor: pointer;
}

.menu ul {
  align-items: center;
}

.menu ul li {
  padding: 0 10px;
}

.menu ul li.link a {
  text-decoration: none;
  color: #6A6A6A;
  display: inline-block;
  line-height: 80px;
  padding: 0 10px;
  border-bottom: 1px solid #EEECEF;
}

.menu a.btn{
  color: #fff;
}

.menu li.link a:hover  {
  border-bottom: 1px solid #000;
}


/* JUMBO */

.jumbotron {
  margin-top: 80px;
  background-color: #B4D0E7;
}

.jumbotron .container {
  display: relative;
  flex-wrap: wrap;
}

.jumbotron .text {
  width: 30%;
}

.jumbotron .image {
  width: 70%;
}

.jumbotron .text, .jumbotron .image {
  position: relative;
  top: 60px;
  bottom: -60px;
}

.jumbotron .text p {
  line-height: 1.4rem;
}

.arrow {
  color: #000;
  font-size: 2.9rem;
  display: block;
  position: absolute;
  bottom: 80px;
  left: 0;
}

.jumbotron .btn {
  margin: 30px 0px;
  display: block;
}


/* MAIN */

section.plan {
  margin-top: 150px;
  /* debug */
  background-color: #fff;
}

section.plan .plan-top {
  padding: 0 25px;
  margin-bottom: 50px;
}

section.plan .radio-btn {
  justify-content: align-items;
}

section.plan .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #747474;
  border-radius: 50%;
  margin-right: 5px;
}

section.plan .circle.blue {
  border: 5px solid #065FF6;
}

section.plan .radio-btn span:nth-child(2) {
  margin-right: 50px;
}

section.plan .row {
  flex-wrap: wrap;
}

section.plan .row .col .card {
  border: 1px solid #D0D0D4;
  height: 100%;
}

section.plan .row .card-top {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #D0D0D4; 
}

section.plan .row .card-bottom {
  padding: 30px;
}

section.plan .card h3 {
  margin: 10px 0 20px 0;
}

section.plan h4 {
  margin-bottom: 35px;;
}

section.plan h4.price {
  margin-bottom: 15px;
}

section.plan .card-bottom .billing {
  margin-bottom: 50px;
  display: inline-block;
}

section.plan .card ul li {
  line-height: 1.3rem;
  margin-bottom: 25px;
}

section.plan .button a {
  width: 100%;
}

section.plan .card .buy-now span {
  display: inline-block;
  line-height: 90px;
  border-bottom: 1px solid #D0D0D4;
  margin-bottom: 40px;
}

section.plan .card .buy-now a {
  color: #065FF6;
}

section.plan .card ul:last-child i {
  color: #065FF6;
}

section.plan .col.horizontal {
  width: 100%;
}

section.plan .col.horizontal .card-bottom left {
  width: 70%;
}













