/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #393939;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5rem;
  color: #000;
  padding-top: 90px;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h1, h2, h3, h4 {
  color: #000;
}

ul {
  list-style: none;
}

p, blockquote  {
  line-height: 1.4rem;
  font-size: 1.1rem;
}


/* UTILS */

.d-flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

.col {
  width: calc(100% / 3);
  padding: 0 25px;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  background-color: #0B60F6;
  text-decoration: none;
  padding: 8px 15px;
}

a.btn {
  color: #fff;
}

.btn.big {
  padding: 15px;
}

.btn.big.dark {
  background-color: #fff;
  width: auto;
  border: 1px solid #393939;
}

a.btn.big.dark {
  color: #393939;
}

.btn:hover {
  opacity: 0.8;
}


/* HEADER */

header {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #EEECEF;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.menu ul {
  align-items: center;
}

.menu ul li {
  padding: 0 5px;
}

.menu ul li.link a {
  text-decoration: none;
  color: #6A6A6A;
  display: inline-block;
  line-height: 80px;
  padding: 0 15px;
  border-bottom: 1px solid #EEECEF;
}

.menu li.link a:hover  {
  border-bottom: 1px solid #000;
}


/* JUMBO */

.jumbotron {
  padding-top: 80px;
  background-color: #B4D0E7;
}

.jumbotron .container {
  flex-wrap: wrap;
}

.jumbotron .text {
  width: 30%;
  position: relative;
}

.jumbotron .image {
  width: 70%;
}

.jumbotron .text, .jumbotron .image {
  position: relative;
  bottom: -60px;
}

.jumbotron .text span {
  display: block;
}

.arrow {
  color: #000;
  font-size: 2.9rem;
  position: absolute;
  bottom: 80px;
  left: 0;
}

.jumbotron .btn {
  margin: 30px 0px;
}


/* MAIN */

.plan {
  padding-top: 150px;
}

.plan .plan-top {
  padding: 0 25px 50px 25px;
}

.plan .plan-top h2 {
  padding-bottom: 60px;
}

.plan .radio-btn {
  justify-content: align-items;
}

.plan .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #747474;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.plan .circle.click {
  border: 5px solid #065FF6;
}

.plan .radio-btn span:nth-child(even) {
  padding-right: 50px;
}

.plan .row {
  flex-wrap: wrap;
}

.plan .row .col .card {
  border: 1px solid #D0D0D4;
  height: 100%;
}

.plan .row .card .type {
  display:block;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #D0D0D4; 
}

.plan .card ul li::before,
.plan .card .type::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.1rem;
  margin-right: 4px;
}

.plan .col .card .inner {
  padding: 30px; 
}

.plan .card h3 {
  padding-bottom: 20px;
}

.plan .card h4 {
  padding-bottom: 15px;
}

.plan .card .billing {
  padding-bottom: 30px;
  display: inline-block;
}

.plan .card ul li {
  line-height: 1.3rem;
  padding-top: 20px;
}

.plan .card ul li:last-child {
  padding-bottom: 20px;
}

.plan .card .btn.big {
  width: 100%;
  text-align: center;
}

.plan .card .buy-now span {
  display: inline-block;
  padding: 35px 0 40px;
  border-bottom: 1px solid #D0D0D4;
  margin-bottom: 50px;
}

.plan .card .buy-now a {
  color: #065FF6;
}

.user::before {
  content: "\f007";
}

.folder::before{
  content: "\f07b";
}

.nodes::before {
  content: "\f1e0";
}

.check::before {
  content: "\f00c";
  color: #065FF6;
}

.users::before {
  content: "\f0c0";
}

.building::before {
  content: "\f1ad";
}

.plan .col.horizontal {
  width: 100%;
}

.plan .col.horizontal .left {
  
  padding: 35px 30px 30px 30px;
}

.plan .col.horizontal .right {
  width: calc(100% / 3 - 25px);
  padding: 30px 30px 0 0;
}

.plan .col.horizontal .left p {
  padding: 35px 0 30px;
  font-size: 1rem;
}

.partner .main-container {
  padding: 150px 25px;
}

.partner .image {
  width: 60%;
}

.partner .text {
  width: 40%;
  padding: 55px 45px;
}

.partner .text p {
  padding: 15px 0 30px;
}

.features h2 {
  padding: 0 25px 80px;
}

.features .row {
  flex-wrap: wrap;
}

.features h3 {
  padding-bottom: 30px;
}

.customers .main-container {
  padding: 70px 25px;
}

.customers h2 {
  width: 70%;
  padding-bottom: 60px;
}

.customers a {
  color: #065FF6;
}

.customers .company .box {
  width: calc(100% / 3);
  aspect-ratio: 1 / 1;
}

.customers .company .side.box {
  flex-wrap: wrap;
}

.customers .company .center.box {
  background-color: #F5F5F5;
  padding: 45px 50px 0;
  overflow: scroll;
}

.customers .company .center.box img {
  width: 50%;
  padding-top: 25px;
}

blockquote {
  padding-bottom: 50px;
  margin-top: 40px;
}

blockquote::before {
  content: '';
  width: 105px;
  height: 1px;
  background-color:  #b4b4b4;
  display: block;
  margin-bottom: 40px;
}

.customers .company .square {
  width: 50%;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.customers .company .square img {
  width: 50%;
  filter: invert(1);
}

.square:active {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5);
}

.green {
  background-color: #A3D49B;
}

.bordeaux {
  background-color: #62142B;
}

.blue {
  background-color: #3694CE;
}

.red {
  background-color: #ED3833;
}

.darkred {
  background-color: #D7322D;
}

.lightblue {
  background-color: #B4D0E7;
}

.darkblue {
  background-color: #0D2481;
}

.yellow {
  background-color: #FCD94B;
}

.cta {
  background-color: #B4D0E7;
  padding: 130px 0;
}

.cta .main-container {
  padding: 0 25px;
  justify-content: space-between;
  align-items: flex-start;
}

.cta h2 {
  color: #62142B;
  width: 50%;
}

.cta .btn.big.dark {
  width: 30%;
  border: none;
  text-align: center;
}

.faq .main-container {
  padding: 160px 25px 145px 25px;
  color: #000; 
}

.faq h2 {
padding-bottom: 60px;
border-bottom: 1px solid #9A9A9A;
}


.faq .question {
  justify-content: space-between;
  flex-wrap: wrap;
}

.faq-list h4 {
  font-size: 1.1rem;
  padding: 40px 0 40px;
}

.faq-list .chevron {
  padding: 40px 40px 0; 
}

.faq-list .chevron.close {
  display: none;
}

.faq-list p {
  display: none;
  width: 100%;
  padding-bottom: 40px;
  font-size: 1rem;
}

.faq-list li.question {
  border-bottom: 1px solid #9A9A9A;
}

.faq-list li.question:hover p { 
  display: block; 
}

.faq-list li.question:hover .open {
  display: none;
}

.faq-list li.question:hover .close {
  display: inline-block;
}


/* FOOTER */

footer {
  background-color: #000;
  padding: 100px 0 50px;
}

footer .top {
  justify-content: space-between;
}

footer .menu-f {
  width: 15%;
  margin-bottom: 115px;
}

footer .menu-f h3 {
  color: #fff;
  margin-bottom: 40px;
}

footer .menu-f li {
  margin-bottom: 20px;
}

footer .menu-f a {
  color: #fff;
  text-decoration: none;
}

footer .menu-f a:hover {
  text-decoration: underline;
}

footer .bottom {
  padding-top: 60px;
  border-top: 1px solid #fff;
  width: 10%;
  color: #393939;
}





















