/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #393939;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4.8rem;
  color: #000;
}

h2 {
  font-size: 2.6rem;
  margin-bottom: 60px;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  color: #000;
}

ul {
  list-style: none;
}


/* UTILS */

.debug {
  background-color: chartreuse;
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.space-bet {
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #0B60F6;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

.btn.big {
  padding: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.col {
  width: calc(100% / 3);
  margin: 0 25px;
}


/* HEADER */

header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #EEECEF;
  padding: 0 20px;
}

.header-left, .header-right {
  height: 100%;
  align-items: center;
}

header .logo {
  margin-right: 20px;
}

.menu ul li {
  line-height: 80px;
  display: inline-block;
  padding:0 6px;
}

.menu ul li a {
  text-decoration: none;
  color: #393939;
  display: inline-block;
  line-height: 80px;
  padding: 0 13px;
  border-bottom: 2px solid #fff;
}

.menu ul li a:hover {
  border-bottom: 2px solid #000;
}


/* JUMBO */

.jumbotron {
  height: 735px;
  margin-top: 80px;
  background-color: #B4D0E7;
  
}

.jumbotron .container {
  padding-top: 90px;
  height: 100%;
  position: relative;
}

.jumbotron .content {
  position: absolute;
  bottom: -75px;
  right: 0;
}

.jumbotron .text {
  width: 30%;
}

.jumbotron .image {
  width: 70%;
}

.jumbotron .text p {
  line-height: 1.4rem;
}

.arrow {
  color: #000;
  font-size: 2.9rem;
  position: absolute;
  bottom: 100px;
  left: 0;
}

.jumbotron .button {
  margin: 30px 0px;
}


/* MAIN */

main {
  /* debug */
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: green;
}

section.plan {
  background-color: #fff;
}

section.plan .plan-top {
  padding: 0 25px;
  margin-bottom: 50px;
}

section.plan .radio-btn {
  justify-content: align-items;
}

section.plan .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #747474;
  border-radius: 50%;
}

section.plan .circle.blue {
  border: 5px solid #065FF6;
}

section.plan .radio-btn span:nth-child(2) {
  margin-right: 50px;
}

section.plan .row .col {
  border: 1px solid #D0D0D4;
}

section.plan .row .col-top {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #D0D0D4; 
}

section.plan .row .col-bottom {
  padding: 30px;
}

section.plan .col h3 {
  margin: 10px 0 20px 0;
}

section.plan h4 {
  margin-bottom: 35px;;
}

section.plan h4.price {
  margin-bottom: 15px;
}

section.plan .col-bottom .billing {
  margin-bottom: 50px;
  display: inline-block;
}

section.plan .col ul li {
  line-height: 1.3rem;
  margin-bottom: 25px;
}

section.plan .col .button {
  text-align:center;
}

section.plan .button a {
  width: 100%;
}

section.plan .col .buy-now span {
  display: inline-block;
  line-height: 90px;
  border-bottom: 1px solid #D0D0D4;
  margin-bottom: 40px;
}

section.plan .col .buy-now a {
  color: #065FF6;
}

section.plan .col ul:last-child i {
  color: #065FF6;
}













